<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CS4241 A4 - About</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/base-min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/main.css" />

    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
  </head>
  <body>
    <div class="header">
      <div class="pure-g">
        <div class="pure-u-1-5">
          <a class="pure-menu-heading" href="/">Back to the App</a>
        </div>
        <div class="pure-u-3-5 header-title">
          <h1 class="pure-menu-heading">About</h1>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="pure-g">
        <div class="pure-u-1-4">
        </div>
        <div class="pure-u-1-2">
          <h3>Help</h3>
          <p>
            Select a song and click the Play button to begin. Use the controls
            to change the visualization or the audio. To play a new song, first
            stop the current track.
          </p>
          <h3>
            Music Credit
          </h3>
          <p>
            All music was sourced from freemusicarchive.org with CC BY-NC-ND
            license
          </p>
          <ul>
            <li>Ersatz - The Easton Ellises</li>
            <li>New World - DJ Messagroove</li>
            <li>Fourth Track - A. Cooper</li>
            <li>Owl Eyes - The Pop Winds</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer">
    </div>
  </body>
</html>