<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/base-min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/main.css" />

    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
  </head>
  <body>
    <div class="header center">
      <h1>
        About
      </h1>
    </div>
    <div class="content center">
      <div class="pure-g">
        <div class="center">
          <p>
            This project was created for CS4241 at WPI. 
          </p>
        </div>
      </div>
    </div>
    <div class="footer">
    </div>
  </body>
</html>