:root {
    --main-text: #232322;
    --side-bg: #47545E;
    --side-text: #2b87ce;
    --special-bg: #4F7C9E;
    --main-bg: #897250;
    --blinder: #E69927;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg);
    color: var(--main-text);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 50px 1fr;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#animation-wrapper {
    max-width: 90%;
    max-height: 90%;
    width: 100%;
    aspect-ratio: 5/3;
    padding-top: 1vh;
}

#animation-options-wrapper {
    text-align: center;
    height: max-content;
    margin-bottom: 1vh;
}

button:not(:first-child) {
    margin-left: 3vw;
}

button {
    width: 20ch;
}

input {
    text-align: center;
    margin-left: 0.5vw;
    height: 30px;
}
input:not(:last-child) {
    margin-right: 2vw;
}

#no-align {
    align-items: start;
}