body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: grey;
}

.instructions {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.instructions h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.instructions p {
    font-size: 16px;
    margin-bottom: 20px;
}

a{
    background: red;
    color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, serif;
    margin-top: 50px;
}
